# This is a comment
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @jsolarz

# Specify owners for specific directories or files
/docs/  @jsolarz @your-collaborator
*.md    @another-collaborator
/Application/ @jsolarz
